body{
	background-color:grey;
}

.nav{
	background-color:black;
	color: whitesmoke;
}

.nav-link{
	color: whitesmoke
}

.nav-link:hover{
	color: cornflowerblue;
}

.card:hover .card-header{
	background-color: cornflowerblue;
	color:whitesmoke;
}

.card:hover{
	z-index: 1;
	scale: 1.1;
	border: 5px solid black;
}

.icon {
	color:cornflowerblue;
	scale:2;
}

table{
	table-layout:fixed;
	text-align:left;
}

tr td a {
	display:block;
}