body{
	background-color:grey;
	margin-top: 0px;
  	margin-bottom: 0px;
  	margin-right: 0px;
  	margin-left: 0px;
}

.nav{
	background-color:black;
	color: whitesmoke;
}

.nav-item{
	color: whitesmoke
}

.nav-item:hover{
	color: cornflowerblue;
}